/* Reset */

body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	color: #252525;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

/* Menu */

.menu {
	background: #fff;
	padding: 15px 0;
	height: 80px;
}

.menu-nav ul {
	float: right;
}

.menu-nav li a:hover {
	border-bottom: 3px solid #D13796;
}

.menu-nav ul li {
	display: inline-block;
}
.menu-nav a {
	text-decoration: none;
	color: #383652;
	font-size: 1.125em;
	display: block;
	padding: 10px;
	margin-left: 10px;
}
@media (max-width: 739px) {
	.menu-logo img {
		margin: left;
	}
	.menu-nav ul {
		display: none;
	}
	.menu-nav ul li a {
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.menu-nav ul {
		word-spacing: 10px
	}
}
/* Intro */

.intro {
	background-color:#fff;
	color: #3B4CFA;
	text-align: left;
	padding-top: 60px;
	
}

.intro h1 {
	margin-top: 20px;
	line-height: 1.2;
	font-size: 3.3em;
	font-weight: bold;
	margin-bottom: 20px;
}


.intro p {
	font-size: 2.2em;
	font-weight: bold;
	color:#383652;
	margin-bottom: 30px;
}

.btn-intro {
	display: block;
	width: 350px;
	border-radius: 10px;
    padding: 20px 0;
    background-color: #D13796;
    color: #fff;
    font-size: 1.125em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.btn-intro:hover {
	opacity: 0.9;
}

.icone-seguir {
	margin:0 auto;
	padding: 70px;
}

@media (max-width: 739px) {
	.intro { 
		height: 400px;
		padding: 10px 0;
	}

	.container {
		margin-left: 10px;
    	margin-right: 10px;
	}
	.intro {
		height: 380px;
	}
	.intro img {
		display: none;
	}
	
	.intro h1 {
		margin-top: 20px;
		font-size: 2.5em;
	}

	.intro p {
		font-size: 1.2em;
	}	

	.btn-intro {
	width: 100%;
	padding: 15px;
	}

	

}

/* Sobre */

.cursos {
	background-color: #3B4CFA;
	padding: 60px 0;
}
.cursos h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 60px;
	color:#fff;
}

.cards {
	max-width: 370px;
	height: 480px;
	background-color: #fff;
	border-radius: 20px;
}



.card-fotografia img {
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 100%;

}

.card-fotografia h3 {
	font-size: 1.875em;
	margin-left: 50px;
}

.star {
	display: inline-block;
	padding-left: 50px;
}
.star li {
	display: inline-block;

}

.cards p {
	padding-left: 50px;
}

.instrutor {
	padding-top: 45px;
	font-weight: bold;
	font-size: 18px;
	color:#383652
}

.investimento {
	font-size: 18px;
	color:#3B4CFA;
	font-weight: bold;
	margin-bottom: 31px;
}


.btn-cursos {
	display: block;
	width: 250px;
	border-radius: 10px;
    padding: 15px 0;
    background-color: #D13796;
    color: #fff;
    font-size: 1.125em;
    text-align: center;
    cursor: pointer;
	text-decoration: none;
	margin: 0 auto;
}


.conquiste {
	height: 900px;
}
.conquiste img {
	margin-top: 100px;
}
.conquiste h3 {
	margin-top:215px;
	font-size: 40px;
	color:#383652;
	margin-bottom: 30px;
    font-weight: 900;

}

@media (max-width: 739px) {

	.conquiste img {
		margin-top: 50px;
	}

	.conquiste {
		height: 800px;
	}
	.conquiste h3 {
		margin-top: 0px;
		font-size: 24px;
		text-align: center;

	}

}
/* Produtos */



/* Inscreva-se*/

.bginscreva-se {
	width: 100%;
	background: url(../img/bg-inscrevase.png) no-repeat;
	height: 213px;
	position: absolute;
	margin-top: -130px;
}


.btn-footer {
	position: relative;
	display: block;
	border-radius: 10px;
    padding: 20px;
	width: 300px;
    background-color: #fff;
    color: #D13796;;
	font-size: 1.5em;
	font-weight: 900;
    text-align: center;
    cursor: pointer;
	text-decoration: none;
	margin-left: 50px;
	top: 70px;
}

.inscreva-se > h3 {
	margin-top: 50px;
	margin-left: 60px;
	font-size: 2.5em;
	font-weight: 900;
	color:#fff;
}

.inscreva-se > h4 {
	font-size: 1.875em;
	font-weight: 400;
	color: #fff;
	margin-left: 60px;
	margin-top: 5px;
}

@media (max-width: 739px) {

	.locais-item img { 
		margin-bottom: 10px;
		margin-top: 40px;
	}
	
	.cursos h2 {
		font-size: 1.6em;
	}
	.cards {
		margin-bottom: 30px;
	}
	.bginscreva-se {
		height: 200px;
		width: 100%;
		border-radius: 0px;
		position: relative;
	
	}

}

/* Assine */

@media (max-width: 739px) {
	.assine input {
		margin-top: 10px;
	}
}

/*Footer*/

.footer {
	height:200px ;
	background: #1D2469;
	padding: 30px 0;
	color: #fff;
}

.footer p {
	margin-top: 100px;
	font-size: 1.125em;
	font-weight: 900;

}

.sociais {
	margin-top: 97px;
	margin-left: 332px;
}

.sociais li {
	list-style: none;
	display: inline-block;
	margin-left: 10px;
}

.footer img {
	float: right;
}

@media (max-width: 739px) {
	.footer img {
		float: none;
		margin-top: 20px;
	}
}